* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-container {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
}
.nav__list {
  list-style: none;
  display: inline-flex;
  column-gap: 30px;
}
.command-line {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.command-line__ico {
  width: 30px;
  height: 30px;
}

.cart-items__prices__x {
  width: 20px;
  height: 20px;
}
