* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  display: flex;
  align-items: center;
}
.main-container {
  margin: 0;
  min-width: 360px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.nav__list {
  display: inline-flex;
  column-gap: 30px;
}
.command-line {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.command-line__ico {
  width: 30px;
  height: 30px;
}

.cart-items__prices__x {
  width: 25px;
  height: 25px;
}

.cart-items {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.cart-items__prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.cart-total {
  text-align: right;
}
